- var userInfo = { name: 'Evano', job: 'Project Manager' };

.user-info
  .user-info__avatar
    img(src='/img/png/avatar.png', alt='', srcset='')

  .user-info__description
    p.name= userInfo.name
    p.job= userInfo.job
