@import 'import/vars';

.sidebar {
  display: flex;
  flex-direction: column;

  width: $sidebar-width;
  height: 100vh;
  background-color: #fff;
  padding: 37px 28px 76px 28px;

  filter: drop-shadow(10px 0 60px rgba(226, 236, 249, 0.5));

  .nav {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
